<div class="constrain">
  <!-- Top Bar -->
	<div class="row topRow">
		<div class="col-md-4 col-xs-4 topLogo"><a href="/tasks"><img class="img-responsive" src="/assets/daybreaker_logo.png"></a></div>
		<div class="col-md-8 col-xs-8 topDash"><h1>Edit Task</h1></div>
	</div>

  <%= render 'form' %>

</div>
