<!-- --> 
<div class="constrain" align="left">
	<div class="row topRow" id="desktopView">
		<div class="col-xs-12 topLogo tc">
			<a class="btn btn-primary aboutLink" href="#about"><h4>About</h4></a>
			<a href="landing"><img class="" src="assets/daybreaker_logo.png"></a>
			<a class="btn btn-primary signInLink" href="#about"><h4>Sign In</h4></a>
		</div>
	</div>
	<div class="row topRow" id="mobileView">
		<div class="col-xs-12 topLogo tc">
			<a href="landing"><img class="" src="assets/daybreaker_logo.png"></a>
		</div>
		<div class="col-xs-12 topLogo tc">
			<a class="btn btn-primary aboutLink" href="#about"><h4>About</h4></a>
			<a class="btn btn-primary signInLink" href="#about"><h4>Sign In</h4></a>
		</div>
	</div>
	<br/>

	<div class="row midRow">
		<div class="row contentView">
			<div class="col-sm-12 signUpDiv tc">
				<button class="btn btn-primary btn-large " href="SIGNUP"><h4>Sign Up Free</h4></button>
			</div>
		</div>
		<div class="window"></div>
		<div class="row contentView">
			<div id="about" class="col-sm-10 col-sm-offset-1 aboutSection">
				<p>THIS IS THE ABOUT SECTION THIS IS THE ABOUT SECTION THIS IS THE ABOUT SECTION THIS IS THE ABOUT SECTION THIS IS THE ABOUT SECTION</p>
			</div>
		</div>
		<div class="window"></div>
		<div class="window"></div>
	</div>
	<br/>
	<div class="row botRow">
		<div class="col-xs-12"><center>FOOTER</center></div>
	</div>
	<br/>
</div> 
<!-- -->

<!-- - ->
<div class="constrain" align="left">
	<div class="row topRow">
		<div class="col-xs-3 topLogo">
			<center>
				<a href="landing">
					<img class="img-responsive" src="assets/daybreaker_logo.png">
				</a>
			</center>
		</div>
		<div class="col-xs-9 topDash">
			<div class="editName">
				<div class="btn btn-primary">
					<span class="glyphicon glyphicon-pencil"></span> 
				</div>
			</div>
			<h1>TASK NAME</h1>
		</div>
	</div>
	<br/>
	<div class="row midRow">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="progress">
				<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
					<span class="sr-only">40% Complete</span>
				</div>
			</div>
			<br>
			<div>
				<h
			</div>
		</div>
	</div>
	<br/>
</div> 
<!-- -->