<!-- <div id="main"> -->
<!-- 	<!-- NAVBAR - ->
	<div class="logobox" id="logobox">
		<div class="navbar-header pull-left">
		  <a class="pull-left" href="#">
		  	<img class="img-responsive" src="assets/daybreaker_logo.png" class="logo"> 
		  </a>
		</div>
	</div>
	<div id="navigation">
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    Collect the nav links, forms, and other content for toggling
		    <div class=" " id="">
		    	<button type="submit" class="btn btn-default pull-right" style="margin-top:8px;">Sign In</button>
		    	<ul class="nav navbar-nav pull-right" style="margin-right:5px;">
	        		<li class=""><a href="#">About</a></li>
	      		</ul>
		    </div><!-- /.navbar-collapse - ->
		  </div><!-- /.container-fluid - ->
		</nav>
	</div> -->
	<!-- /NAVBAR -->
<!-- 	<!-- CONTENT - ->
	<div id="content">
		<div class="name info" ><h1>Drew Erny</h1></div>
	    <div class="email info"><a href="mailto:drewerny@gmail.com">drewerny@gmail.com</a></div>
	    <div class="tel info"  >(985) 665-1284</div>
	    <div class="info">
	      <p>Specializing in web development LALALALLALALALALALALALAwith HTML5, CSS3, and Javascript to
	      bring your content to the most ubiquitous application runtime ever seen:
	      the modern web browser.</p>

		<a href="/tasks"><p>HERE</p></a>
	    </div>

	</div>
	<!-- /CONTENT -->

<!-- CONTENT -->
	

	

	
	<!-- /CONTENT -->

<!-- </div> -->
<center>
<div class="constrain" align="left">
	<div class="row topRow">
		<!-- -->
		<div class="col-md-4 col-xs-4 topLogo"><center><a href="landing"><img class="img-responsive" src="assets/daybreaker_logo.png"></a></center></div>
		<div class="col-md-8 col-xs-8 topDash"><center><h1>Dashboard</h1></center></div>
	</div>
	<br/>
	<div class="row midRow">
		<div class="col-md-4 midLeft">
			<div class="row">
				<div class="col-xs-12 midLeftLogHours btn btn-primary">Log Hours</div>
			</div>
			<div class="row">
				<div class="col-md-12 midLeftToday">
					<h3>Today</h3>
					<div class="list-group">
						<a href="#" class="list-group-item ">Cras justo odio</a>
						<a href="#" class="list-group-item">Dapibus ac facilisis in</a>
						<a href="#" class="list-group-item">Morbi leo risus</a>
						<a href="#" class="list-group-item">Porta ac consectetur ac</a>
						<a href="#" class="list-group-item">Vestibulum at eros</a>
						<a href="#" class="list-group-item ">Cras justo odio</a>
						<a href="#" class="list-group-item">Dapibus ac facilisis in</a>
						<a href="#" class="list-group-item">Morbi leo risus</a>
						<a href="#" class="list-group-item">Porta ac consectetur ac</a>
						<a href="#" class="list-group-item">Vestibulum at eros</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 midLeftTomorrow">
					<h3>Tomorrow</h3>
					<div class="list-group">
						<a href="#" class="list-group-item ">Cras justo odio</a>
						<a href="#" class="list-group-item">Dapibus ac facilisis in</a>
						<a href="#" class="list-group-item">Morbi leo risus</a>
						<a href="#" class="list-group-item">Porta ac consectetur ac</a>
						<a href="#" class="list-group-item">Vestibulum at eros</a>
						<a href="#" class="list-group-item ">Cras justo odio</a>
						<a href="#" class="list-group-item">Dapibus ac facilisis in</a>
						<a href="#" class="list-group-item">Morbi leo risus</a>
						<a href="#" class="list-group-item">Porta ac consectetur ac</a>
						<a href="#" class="list-group-item">Vestibulum at eros</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8 midRight">
			<div class="row">
				<div class="col-md-12 midRightTask">
					<h2>Tasks</h2>
					<div id="tasks">
						<div id="task">
							<div class="taskInfo">
								<h4>Programming Language Grammar</h4><small>DUE 10/7 @ 5:25pm</small>
							</div>
							<div class="progress">
								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
									<span class="sr-only">80% Complete</span>
								</div>
							</div>
							<div class="taskInfo">
								<p><span class="taskLeft">3 hours complete</span>   <span class="taskRight">2 hours left</span></p>
							</div>
						</div>
						<div id="task">
							<div class="taskInfo">
								<h4>Programming Language Lexer</h4><small>DUE 10/7 @ 5:25pm</small>
							</div>
							<div class="progress">
								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
									<span class="sr-only">60% Complete</span>
								</div>
							</div>
							<div class="taskInfo">
								<p><span class="taskLeft">3 hours complete</span>   <span class="taskRight">2 hours left</span></p>
							</div>
						</div>
						<div id="task">
							<div class="taskInfo">
								<h4>Programming Language Recognizer</h4><small>DUE 10/7 @ 5:25pm</small>
							</div>
							<div class="progress">
								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
									<span class="sr-only">50% Complete</span>
								</div>
							</div>
							<div class="taskInfo">
								<p><span class="taskLeft">3 hours complete</span>   <span class="taskRight">2 hours left</span></p>
							</div>
						</div>
						<div id="task">
							<div class="taskInfo">
								<h4>Get a life</h4> <small>DUE 10/7 @ 5:25pm</small>
							</div>
							<div class="progress">
								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
									<span class="sr-only">2% Complete</span>
								</div>
							</div>
							<div class="taskInfo">
								<p><span class="taskLeft">3 hours complete</span>   <span class="taskRight">2 hours left</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<div class="row botRow">
		<div class="col-xs-12 btn btn-primary">Advance Day</div>
	</div>
	<br/>
</div>
</center>